<div class="task-header-container">
  <p class="task-topic">The tasks</p>
</div>

<mat-spinner *ngIf="isLoading"></mat-spinner>
<mat-accordion multi="true" *ngIf="tasks.length > 0 && !isLoading">
  <mat-expansion-panel *ngFor="let task of tasks">
    <mat-expansion-panel-header> {{ task.title }} </mat-expansion-panel-header>
    <p>{{ task.description }}</p>
    <mat-action-row *ngIf="userIsAuthenticated">
      <button mat-button color="primary">Done</button>
      <a mat-button [routerLink]="['/edit', task.id]" color="accent">Edit</a>
      <button mat-button color="warn" (click)="onDeleteTask(task.id)">
        Delete
      </button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>
<mat-paginator
  [length]="totalTasks"
  [pageSize]="tasksPerPage"
  [pageSizeOptions]="pageSizeOptions"
  (page)="onChangePage($event)"
  *ngIf="!(tasks.length == 0)"
></mat-paginator>
<p class="task-empty" *ngIf="tasks.length <= 0">
  ... Your task list is empty ...
</p>
